.main-view {
  padding: 16px;
}
.ach-card-view {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.certificate-content-view {
  display: grid;
  gap: 1rem;
  border-width: 2px;
  border-radius: 10px;
  padding: 20px;
  border-color: rgb(211, 211, 211);
  overflow: hidden; /* Prevents overflow */
}
.certificate-content-view p {
  font-size: 18px;
}

@media (min-width: 650px) {
  .certificate-content-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 750px) and (max-width: 1023px) {
  /* T    grid-template-columns: repeat(2, 1fr);
  ablet view: 2 cards per row */
  .certificate-content-view {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .certificate-content-view {
    grid-template-columns: repeat(4, 1fr); /* Default: 3 cards per row */
  }
}
